
.header{
    height: 85px;
    background-color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
}
.header__navbar{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.header__navbar-logo{
    padding-top: 5px;
}
.header__navbar-list{
    display: inline-block;
    padding-left: 15px;
    color: #000000;
    padding-top: 7px;
}

.header__navbar-item{
    display: inline-block;
    padding-inline: 13px;
    padding-top: 5px;
    
}
.header-with-search{

    width: 200px;
    height: 25px;
    background-color: white;
    border-radius: 0px;
    display: inline-block;
    padding-top: 35px;  
}
.navigation__navbar{
    height: 50px;
    background-color: #ff06bd;
}
.navigation__navbar-list{
    display: inline-block;
    padding-inline: 60px;
}
.body{
    font-family: 'Times New Roman', Times, serif;
}
.fotter{
    font-family: 'Times New Roman', Times, serif;
}
